header {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 250px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 200;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    color: rgb(66, 64, 64);
    font-weight: bold;
}