<header>
    <nav id="nav-bar" role="navigation">
        <div class="menu-container">
            <img class="logo" alt="logo" [src]="cheminLogo">
            <ul class="fullwidth">
                <li><a [routerLink]="[ '/']">Accueil</a></li>
                <li><a [routerLink]="[ '/installations']" class=" ">Nos installations</a></li>
                <li><a [routerLink]="[ '/prestations']" class=" ">Nos prestations</a></li>
                <!--<li><a href="# " class=" ">Contact</a></li>-->
            </ul>

        </div>
    </nav>

</header>