$greenColor: #97C108;
$tablette: 960px;
$mobile: 625px;
$mobileMini: 400px;
ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 20px;
    padding-left: 40px;
    @media screen and (max-width: $tablette) {
        display: block;
        padding-left: 20px;
    }
}

.logo {
    grid-area: logo;
    @media screen and (max-width: $tablette) {
        margin: auto;
    }
}

.container {
    display: grid;
    grid-template-columns: 2fr 5fr;
    align-items: center;
    grid-template-areas: "logo  menu";
    @media screen and (max-width: $tablette) {
        grid-template-areas: "logo" "menu";
        grid-template-columns: unset;
    }
}

.fullwidth {
    grid-area: menu;
    margin-top: 5px;
    font-size: 14pt;
    @media screen and (max-width: $tablette) {
        margin: auto;
        margin-top: 20px;
        font-size: 12pt;
    }
    @media screen and (max-width: $mobile) {
        margin: 0;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;
        li {
            font-size: 11pt;
            text-align: center;
        }
    }
    @media screen and (max-width: $mobileMini) {
        grid-template-columns: 1fr;
    }
}

ul li a {
    display: inline-block;
    padding: 1.6rem;
    @media screen and (max-width: $mobile) {
        padding: 0.6rem;
    }
    @media screen and (max-width: $mobileMini) {
        padding: 0.2rem;
    }
}

ul li a:hover {
    color: $greenColor;
    font-weight: bold;
}

ul li a::after {
    content: '';
    margin-top: 5px;
    display: block;
    width: 0;
    height: 3px;
    background: $greenColor;
    transition: width .3s;
}

ul li a:hover::after {
    width: 100%;
}